---
import { site } from '@/content/site';
---

<nav>
  <a href="/" class="nav-logo">{site.name.split(' ')[0]} <span>{site.name.split(' ').slice(1).join(' ')}</span></a>
  <a href="#cta" class="nav-cta">Book a Call</a>
</nav>
